/* Réinitialisation des marges et des paddings */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styles pour le wrapper */
.wrapper {
    display: flex;
}

#titre{
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
}

/* Styles pour le side menu */
.side-menu {
    background-color: #333;
    color: white;
    width: 300px; /* Largeur du menu */
    padding: 10px;
    height: 100vh; /* Hauteur du menu jusqu'en bas de la page */
    display: flex;
    flex-direction: column; /* Aligner les éléments verticalement */
    justify-content: space-between;
}

.menu {
    list-style: none;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ff9900;
}

/* Styles pour le contenu */
.content {
    padding: 20px;
}

/* Style pour les sauvegardes */
.sauvegarde {

}